<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Cliente</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body>
    <h1>Detalles del Cliente</h1>
    <p><strong>Nombre:</strong> {{cliente.nombre}} {{cliente.apellido}}</p>
    <p><strong>Correo Electrónico:</strong> {{cliente.correo_electronico}}</p>
    <p><strong>Teléfono:</strong> {{cliente.telefono}}</p>
    <p><a href="{% url 'lista_clientes'%}"> Volver a la lista de clientes</a></p>
</body>
</html>