template.login{
    font-size: 62.5%;

}
body{
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform:  uppercase;
    font-weight: small;
}

.btn-primary{
    color: #fff;
    background: #16a083;
}